/** {margin: 0;padding: 0;}*/

body{
    margin: 0;
padding: 0;
 height: auto;
 font-family: arial;
}

h1, h2{
    text-align: center;
}

.fa{
    cursor: pointer;
    color:#fff;
    margin-left: 1.5rem;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.9);
    text-align: right;
    padding: 1rem;
}

footer ul{
    margin: 0;
    padding-right: 3rem;
}
